  <!-- #region addappointment -->
  <div>
      <a (click)="navigate('addappointmentShow')">MENU</a>
      
  </div>
  <!-- #endregion -->
  <div class="row" id="medPers">
      <div class="col s8 offset-s2">
        <div class="card">  
            <div class="progress" *ngIf="showLoad">
                <div class="indeterminate"></div>
            </div>     
      <form class="col s12 white" #newAppointment="ngForm" (ngSubmit)="OnSubmit(newAppointment)">
            <div class="row">
                    <div class="input-field col s6">
                      <input #pickadate [materializeParams]="translateToPolish" materialize="pickadate" class="datepicker" type="text" [(ngModel)]="dateTimeModel.date" name="date" #date="ngModel" required>
                      <label data-error="Pole wymagane!">Dzień wizyty</label>
                    </div>
                    <div class="input-field col s6">
                      <input #pickatime [materializeParams]="translateTimePicker" materialize="pickatime" class="timepicker" type="text" [(ngModel)]="dateTimeModel.time" name="time" #time="ngModel" required>
                      <label data-error="Pole wymagane!">Godzina wizyty</label>
                    </div>
                </div>
          <div class="row"> 
                <div class="input-field col s6" >
                  <select materialize="material_select" [(ngModel)]="appointmentModel.medicusername" name="medicusername" #medicusername="ngModel" required>
                    <option>Wybierz</option>
                    <option  *ngFor="let option of doctors" [value]="option.username">
                        {{option.forename}} {{option.lastname}}
                    </option> 
                  </select>
                  <label>Lekarz</label>  
                </div> 
          </div>  
             
          <div class="row">
              <div class="input-field col s12 center">
                <button [disabled]="!newAppointment.valid" class="btn-large btn-submit" type="submit">Dodaj</button>
              </div>
          </div>
        </form>                 
  </div>     
</div>
</div>  