<div class="row" style="padding-top:5px;">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a routerLink='/login' routerLinkActive='active'>ZALOGUJ</a></li>
        <li class="tab"><a routerLink='/register' routerLinkActive='active' >ZAREJESTRUJ</a></li>
        <li class="tab"><a routerLink='/publicpage' routerLinkActive='active'>AKTUALNOŚCI</a></li>      
      </ul>
    </div>
</div>

<!-- progressbar -->
<div class="row">
  <div class="col s8 offset-s2" *ngIf="showLoad">
    <div class="progress" >
      <div class="indeterminate"></div>
  </div> 
  </div>
</div>
<!-- endof progressbar -->

<div class="row">
  <div class="col s8 offset-s4">
    <div class="card">
      <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
            <label data-error="Required field!">Login</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" [pattern]="passwordPattern">
                <label data-error="Invalid">Hasło</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
            <label data-error="Invalid email!">Email</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s6 center">
              <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Zarejestruj</button>
            </div>
          </div>
      </form>     
    </div>
  </div>
</div>


