<div class="row" style="padding-top:5px;">
  <div class="nav-content">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s3"><a href="#lastappointments">Historia zabiegów</a></li>
        <li class="tab col s3"><a href="#appointments">Plan wizyt</a></li>
        <li class="tab col s3"><a href="#patients">Pacjenci</a></li>
        <li class="tab col s3"  (click)="logout()"><a >Wyloguj</a></li>       
      </ul>
    </div>
  </div>
</div>
<!-- progressbar -->
<div class="row">
  <div class="col s8 offset-s2" *ngIf="showLoad">
    <div class="progress" >
      <div class="indeterminate"></div>
  </div> 
  </div>
</div>
<!-- endof progressbar -->

<!-- #region appointments -->
<div class="row" id="appointments">
  <div class="fixed-action-btn">
      <a class="btn-floating btn-large green">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a class="btn-floating blue" (click)="add = true"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating yellow darken-1" (click)="add = false"><i class="material-icons">dehaze</i></a></li>
      </ul>
    </div>
     <!-- #region freeTerms -->
  <div class="row" *ngIf="!add">      
      <div class="col s12 m8">
        <div class="card">     
          <div  class="col s4 m2" *ngFor="let term of freeTerms" style="float: left"> 
              <div class="row">
                    <div class="card" id="panel">
                        <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="deleteFreeTerm(term.date, term.id)"><i class="material-icons">delete</i></a>
                        <div class="card-content">
                        <span class="flow-text">{{term.date}}</span>
                      </div>
                    </div>
                </div>      
          </div>     
        </div>
      </div>
    </div>
  <!-- #endregion -->
  <!-- #region add -->
  <div class="row" *ngIf="add">      
    <div class="col s12 " >
      <div class="card">              
          <form class="col s12 white offset-s3" #newFreeTermForm="ngForm" (ngSubmit)="OnSubmitFreeTerm(newFreeTermForm)">
            <div class="row ">
              <div class="input-field col s3">
                <input #pickadate [materializeParams]="translateDatePicker" materialize="pickadate" class="datepicker" type="text" [(ngModel)]="dateTimeModel.date" name="date" #date="ngModel" required>
                <label data-error="Pole wymagane!">Dzień</label>
              </div>
              <div class="input-field col s3">
                <input #pickatime [materializeParams]="translateTimePicker" materialize="pickatime" class="timepicker" type="text" [(ngModel)]="dateTimeModel.time" name="time" #time="ngModel" required>
                <label data-error="Pole wymagane!">Godzina</label>
              </div>
            </div>           
            <div class="row">
              <div class="input-field col s6 center">
                <button [disabled]="!newFreeTermForm.valid" class="btn-large btn-submit" type="submit">Dodaj</button>
              </div>
            </div>
          </form>     
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>
<!-- #endregion -->
 

<!-- #region patients -->
<div class="row" id="patients">      
    <div class="col s8 offset-s4">
      <div class="card">     
        <div  class="col s8" >
            <ul class="collection" *ngFor="let patient of patients">
                <li class="collection-item">{{patient.forename}} {{patient.lastname}}
              </li>
            </ul>        
        </div>     
      </div>
    </div>
  </div>
<!-- #endregion -->

<!-- #region lastAppointments -->
<div id="lastappointments" class="row">   
  <div class="col s8 offset-s2">
    <div class="row" >
        <ul class="collection" *ngFor="let option of lastAppointments" >
            <li class="collection-item">
              <div>
                <label><span>Data: </span> {{option.date}} </label>
                <label><span>Status: </span> {{option.description}} </label>
              </div>
              <div>
                  {{option.speciality}} {{option.doctorforename}} {{option.doctorlastname}} 
              </div>
              <div>
                  Pacjent:  {{option.patientforename}} {{option.patientlastname}} 
              </div> 
              <div>
                  <a (click)="cancel(option.id,option.usdate,option.date,option.description)" class="secondary-content" style="color:#ff2010"> ODWOŁAJ </a>
              </div>
            </li>
        </ul>
      </div>
</div>
</div>
<!-- #endregion -->
<router-outlet></router-outlet>
