 <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">InzMed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
    <!-- 
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a routerLink='/login' routerLinkActive='active'>ZALOGUJ</a></li>
        <li class="tab"><a routerLink='/register' routerLinkActive='active' >ZAREJESTRUJ</a></li>
        <li class="tab"><a routerLink='/publicpage' routerLinkActive='active'>AKTUALNOŚCI</a></li>
      </ul>
    </div>-->
  </nav> 
  <router-outlet></router-outlet> 
<!-- <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">InzMed</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li ><a routerLink='/login' routerLinkActive='active'>ZALOGUJ</a></li>
      <li ><a routerLink='/register' routerLinkActive='active' >ZAREJESTRUJ</a></li>
      <li><a routerLink='/publicpage' routerLinkActive='active'>AKTUALNOŚCI</a></li>
      <li ><a (click)="logout()">WYLOGUJ</a></li>
    </ul>
  </div>  
</nav> 
 -->
<!-- <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul> -->

<!-- <router-outlet></router-outlet>
 -->
<!-- <footer class="page-footer">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</footer> -->
