<div class="row" style="padding-top:5px;">
  <div class="nav-content">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s3"><a href="#lastappointments">Historia wizyt</a></li>
        <li class="tab col s3"><a href="#addappointment">Dodaj wizytę</a></li>
        <li class="tab col s3"><a href="#changeData">Zmiana danych</a></li> 
        <li class="tab col s3" (click)="logout()"><a >Wyloguj</a></li>       
      </ul>
    </div>
  </div>
</div>
<!-- progressbar -->
<div class="row">
  <div class="col s8 offset-s2" *ngIf="showLoad">
    <div class="progress" >
      <div class="indeterminate"></div>
  </div> 
  </div>
</div>
<!-- endof progressbar -->

  <!-- #region lastappointments -->
  <div id="lastappointments" class="row">   
      <div class="col s8 offset-s2">
        <div class="row" >
            <ul class="collection" *ngFor="let option of lastappointments" >
                <a class="collection-item">
                  <div>
                    <label><span>Data: </span> {{option.date}} </label>
                    <label><span>Status: </span> {{option.description}} </label>
                  </div>
                  <div>
                      {{option.speciality}} {{option.doctorforename}} {{option.doctorlastname}} 
                 
                      <span class="new badge red" data-badge-caption="ODWOŁAJ" (click)="cancel(option.id,option.usdate,option.date,option.description)"></span>
                      <span class="new badge green" data-badge-caption="POTWIERDŹ" (click)="confirm(option.id,option.usdate,option.date,option.description)"></span>
                  </div> 
                </a>
            </ul>
            <ul class="collection" *ngFor="let appointmentnurse of lastappointmentsnurse" >
                <a class="collection-item">
                  <div>
                    <label><span>Data: </span> {{appointmentnurse.date}} </label>
                    <label><span>Status: </span> {{appointmentnurse.description}} </label>
                  </div>
                  <div>
                      {{appointmentnurse.speciality}} {{appointmentnurse.doctorforename}} {{appointmentnurse.doctorlastname}} 
                
                      <span class="new badge red" data-badge-caption="ODWOŁAJ" (click)="cancel(appointmentnurse.id,appointmentnurse.usdate,appointmentnurse.date,appointmentnurse.description)"></span>
                      <span class="new badge green" data-badge-caption="POTWIERDŹ" (click)="confirm(appointmentnurse.id,appointmentnurse.usdate,appointmentnurse.date,appointmentnurse.description)"></span>
                </div>
              </a>
            </ul>
          </div>
    </div>
</div>
  <!-- <div id="lastappointments" >     
      <div class="row">
          <div class="col s8 offset-s2">
              <div class="row" >
                  <ul class="collection" *ngFor="let option of lastappointments" >
                      <li class="collection-item"><span>Data: </span> {{option.date}} 
                        <span>Lekarz: </span> {{option.doctorforename}} {{option.doctorlastname}} 
                        <span>Status: </span> {{option.description}}
                        <a (click)="confirm(option.id,option.date)" class="secondary-content"><i class="material-icons">assignment_turned_in</i></a>
                        <a (click)="cancel(option.id,option.date)" class="secondary-content"><i class="material-icons">cancel</i></a>
                      </li>
                  </ul>
                </div>
          </div>
        </div>
  </div> -->
  <!-- #endregion -->

  <!-- #region findfreeterms -->
  <div class="row" id="addappointment" >
      <form class="col s12 offset-s3" #newAppointment="ngForm" (ngSubmit)="OnSubmit(newAppointment)"> 
            <div class="row" *ngIf="dataLoaded">
                <div class="input-field col s6"  >
                    <select materialize="material_select" [(ngModel)]="specialities.name" name="name" #name="ngModel" (ngModelChange)="onSpecialityChange($event)" required>
                      <option  *ngFor="let option of specList" [value]="option" >
                        {{option}}
                      </option> 
                    </select>
                    <label>Wybierz specjalność</label>  
                  </div>
            </div>
            <div class="row" *ngIf="doctorsLoaded">
                <div class="input-field col s6" >
                    <select materialize="material_select" [(ngModel)]="appointmentModel.medicusername" name="medicusername" (ngModelChange)="onDoctorsChange($event)" #medicusername="ngModel" required>
                      <option>Wybierz</option>
                      <option  *ngFor="let option of doctors" [value]="option.doctorusername">
                          {{option.doctorforename}} {{option.doctorlastname}}
                      </option> 
                    </select>
                    <label>Wybierz lekarza</label> 
                  </div> 
            </div>
        <!--     name="date" #date="ngModel" -->
            <div class="row" *ngIf="freeTermsLoaded">  
                <div class="input-field col s6" >
                    <select materialize="material_select" [ngModelOptions]="{standalone: true}" (ngModelChange)="onDateChange($event)" [(ngModel)]="freeTerm"   required>
                      <option>Wybierz</option>
                      <option  *ngFor="let term of freeTerms" [value]="term.id">
                          {{term.date}}
                      </option> 
                    </select>
                    <label>Wybierz datę</label>  
                </div>  
              </div>
              <div class="row">
                  <div class="input-field col s6 offset-s2">
                    <button [disabled]="!newAppointment.valid" class="btn waves-effect waves-light" type="submit">Umów wizytę</button>
                  </div>
              </div>
            </form>
    </div>
  
    <!-- #endregion -->

  <!-- #region changeData -->

    <div class="row" id="changeData">
      <p>Miejsce na rozbudowę systemu</p>
    </div>
  <!-- #endregion -->
   
    <router-outlet></router-outlet>