

<div materialize="carousel"  class="carousel center" data-indicators="true">
  <!-- <div>
    <a class="carousel-item red white-text" href="#one!">zdjecie<img src="/../assets/images/1.JPG"></a>
  </div> -->
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item white black-text" href="#one!">
    <h2>First Panel</h2>
    <p class="red-text">This is your first panel</p>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
</div>