<div class="row" style="padding-top:5px;">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab" *ngIf="!authorized"><a routerLink='/login' routerLinkActive='active'>ZALOGUJ</a></li>
        <li class="tab" *ngIf="!authorized"><a routerLink='/register' routerLinkActive='active' >ZAREJESTRUJ</a></li>
        <li class="tab" *ngIf="authorized"><a (click)="logout()">WYLOGUJ</a></li>     
      </ul>
    </div>
</div>
<div materialize="carousel"  class="carousel center" data-indicators="true">
  <!-- <div>
    <a class="carousel-item red white-text" href="#one!">zdjecie<img src="/../assets/images/1.JPG"></a>
  </div> -->
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item white black-text" href="#one!">
    <h2>First Panel</h2>
    <p class="red-text">This is your first panel</p>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
</div>
