<div class="row" style="padding-top:5px;">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab" *ngIf="!authorized"><a routerLink='/login' routerLinkActive='active'>ZALOGUJ</a></li>
        <li class="tab" *ngIf="!authorized"><a routerLink='/register' routerLinkActive='active' >ZAREJESTRUJ</a></li>
        <li class="tab" *ngIf="authorized"><a (click)="logout()">WYLOGUJ</a></li>     
      </ul>
    </div>
</div>
<div class="parallax-container">
    <div materialize="carousel"  class="carousel carousel-slider center" data-indicators="true">
        <div>
          <a class="carousel-item white black-text" href="#one!">Photo by rawpixel on Unsplash<img src="../../assets/images/1.jpg"></a>
        </div>
        <div>
          <a class="carousel-item white black-text" href="#one!">Photo by rawpixel on Unsplash<img src="../../assets/images/8.jpg"></a>
        </div>
        <div>
          <a class="carousel-item white black-text" href="#one!">Photo by rawpixel on Unsplash<img src="../../assets/images/3.jpg"></a>
        </div>
        <div>
          <a class="carousel-item white black-text" href="#one!">Photo by rawpixel on Unsplash<img src="../../assets/images/4.jpg"></a>
        </div>
        <div>
          <a class="carousel-item white black-text" href="#one!">Photo by rawpixel on Unsplash<img src="../../assets/images/9.jpg"></a>
        </div>
        
      </div>
  </div>
  
  <div class="row">
      <div class="col s6 offset-s3 ">
        <div class="card white black-text">
          <div class="card-content white black-text">
            <span class="card-title">System dla przychodni lekarskiej</span>
            <p>System został wykonany w ramach projektu inżynierskiego o temacie "Prosty system informatyczny zarządzający przychodnią lekarską."</p>
            <p>WYkorzystano technologie Angular ^2 oraz bibliotekę Materialize CSS</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/addkr?tab=repositories">Projekt i implementacja Adrianna Krauza</a>
            <a href="https://materializecss.com/about.html">Materialize CSS</a>
            <a href="https://angular.io/">Angular 2</a>
          </div>
        </div>
      </div>
    </div>
  <footer class="page-footer">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="https://github.com/addkr?tab=repositories">About</a>
      </div>
  </footer>

