/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    vertical-align: middle;
    align-items: center;
}